html {
  background: url("cyber.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #022139;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h3,
p {
  color: white;
  font-family: "Chakra Petch";
  text-align: center;
  text-shadow: 1px 1px 1px #070707;
}
.navbar-nav {
  display: none;
}
.navbar {
  padding-top: 2vh;
}
label {
  color: white;
  width: 100%;
  height: 50vh;
  pointer-events: all;
  padding: 5vw;
}
.modal-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0e0e0eeb;
  z-index: 1;
  transition: all 200ms ease-in-out;
}
.menu {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
}
.menu a {
  color: white;
  font-size: 2rem;
  line-height: 11vh;
  font-family: "Chakra Petch";
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  /* height: 74vh; */
  width: auto;
  justify-content: space-between;
  color: white;
}
.logo {
  background-image: url("logoNatWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 15vh;
  margin-bottom: 6vh;
}
.name {
  font-family: "Chakra Petch", sans-serif;
  font-size: 3em;
  border-top: 1px solid;
  padding-top: 6vh;
  border-bottom: 1px solid;
  padding-bottom: 4vh;
  text-align: center;
  line-height: 6vh;
  /* margin: -20vh 8vw 0px 8vw; */
}
.name p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
.buttons-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-bottom: 20vh; */
}
.buttons-main button {
  padding: 11px 0px;
  background: transparent;
  width: 27vw;
  border: 1px solid white;
  margin: 7vh 5px;
  pointer-events: all;
}
.buttons-main button:hover {
  background-color: #ffffff69;
}
button a {
  text-decoration: none;
  color: white;
  font-family: "Chakra Petch";
  font-size: 1.2rem;
}
.section-title {
  margin: 3vh 0px 5vh 0px;
  /* border-bottom: solid 1px; */
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Chakra Petch";
}
.section {
  /* height: auto; */
  /* height: 85vh; */
  padding: 40px;
  line-height: 24px;
  text-align: center;
}
.section p {
  margin-bottom: 4vh;
}
.social-links {
  margin-bottom: 4vh;
}

.about p {
  text-align: justify;
  color: white;
}
.about img {
  width: 100%;
  max-width: 25vh;
  height: auto;
  /* max-width: 40vw;
  max-height: 20vh; */
  border-radius: 50%;
  margin-bottom: 1vh;
}
.projects {
  height: 100%;
  padding: 40px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card img {
  width: 100%;
  max-width: 50vh;
}
.project-card {
  text-align: center;
  margin-bottom: 10vh;
}

/* .project-card img {
  max-width: 50%;
} */
.project-card p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 4vh;
}

.btn-visit {
  color: white;
  text-decoration: none;
  border: 1px solid;
  padding: 8px 18px;
  border-radius: 30px;
  font-family: "Chakra Petch";
  font-size: 0.8rem;
  margin: 0px 13px;
}
#cv {
  font-size: 1rem;
  padding: 12px 30px;
}
/* .btn-visit {
  margin: 0px 13px;
} */
.social-links {
  text-align: center;
}
.social-links a {
  color: white;
  padding: 18px;
}

@media only screen and (min-width: 1000px) {
  .main {
    width: auto;
  }
  .logo {
    margin-bottom: 3vh;
  }
  /* .buttons-container {
    padding-bottom: 25vh;
  } */
  .buttons-main button {
    padding: 15px;
    background: #17161691;
    width: 9vw;
    margin: 7vh 23px;
  }
  .navbar {
    padding: 0px;
  }
  .navbar-nav {
    display: flex;
    height: 60px;
    background: #f7f1f121;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar-nav a {
    text-decoration: none;
    color: white;
    font-family: "Chakra Petch";
    padding: 0px 1vw;
    font-size: 1.2rem;
  }
  .nav-right {
    display: flex;
    margin-left: 45vw;
    align-items: center;
  }
  .nav-left {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  label {
    display: none;
  }
  .menu {
    display: none;
  }
  .modal-menu {
    display: none;
  }
  .name {
    margin: 3vh 8vw 0px 8vw;
  }

  .project-card img {
    max-width: 50%;
  }
  /* .project-card p {
    width: 35vw;
  } */
  .btn-visit {
    padding: 8px 30px;
    font-size: 1rem;
  }
  .btn-visit:hover {
    background-color: #ffffff69;
  }

  /* .section {
    height: 95vh;
  } */

  .section p {
    margin: 6vh 10vw;
    line-height: 4vh;
    font-size: 1.2rem;
  }
  .section-title {
    margin: 3vh 0px 7vh 0px;
  }
  .about img {
    max-width: 35vh;
  }

  /* .contact h3 {
    margin-top: 9vh;
  } */
}

@media only screen and (min-width: 1400px) {
  .section p {
    margin: 6vh 12vw;
  }
  p {
    font-size: 1.3rem;
    line-height: 5vh;
  }

  .projects p {
    font-size: initial;
  }
}
