html {
  background: url("assets/cyber.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #022139;
}
body {
  margin: 0;
  padding: 0;
}
@keyframes slideInLeft {
  from {
    display: none;
  }
  to {
    opacity: 1;
  }
}
.second {
  display: none;
  animation: fadeIn 2s;
}

@keyframes flicker {
  from {
  }
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    /* text-shadow: none; */
    opacity: 0.99;
  }
  40%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
.neonLogo {
  filter: drop-shadow(10px 10px 200px #c459cb)
    drop-shadow(-10px -10px 50px #c459cb) drop-shadow(0px 0px 10px #c459cb);
  transform: scale(0.5);
  margin: 0;
  animation: flicker 0.5s linear infinite;
  animation-iteration-count: 8, 0, infinite;
}
.neonLogo:hover {
  animation: flicker 0.5s linear infinite;
}
svg {
  /* filter: drop-shadow(10px 10px 200px #c459cb)
    drop-shadow(-10px -10px 50px #c459cb) drop-shadow(0px 0px 10px #c459cb);
  transform: scale(0.5);
  margin: 0;
  animation: flicker 0.5s linear infinite;
  animation-iteration-count: 8, 0, infinite; */
}
svg:hover {
  /* animation: flicker 0.5s linear infinite; */
}

.neonLogo {
  height: 0vh;
  align-self: center;
}

h1,
h3,
p {
  color: white;
  font-family: "Chakra Petch";
  text-align: center;
  text-shadow: 1px 1px 1px #070707;
}
.navbar-nav {
  display: none;
}
.navbar {
  padding-top: 2vh;
}
label {
  color: white;
  width: 100%;
  height: 50vh;
  pointer-events: all;
  padding: 5vw;
}
.modal-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0e0e0eeb;
  z-index: 1;
  transition: all 200ms ease-in-out;
}
.menu {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
}
.menu a {
  color: white;
  font-size: 2rem;
  line-height: 11vh;
  font-family: "Chakra Petch";
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 90vh;
}
.logo {
  background-image: url("assets/logoNatWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 15vh;
  margin-bottom: 6vh;
}

.name {
  font-family: "Chakra Petch", sans-serif;
  font-size: 3em;
  border-top: 1px solid;
  padding-top: 6vh;
  border-bottom: 1px solid;
  padding-bottom: 4vh;
  text-align: center;
  line-height: 6vh;
  /* margin: -20vh 8vw 0px 8vw; */
}
.name p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
.buttons-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-bottom: 20vh; */
}
.buttons-main button {
  padding: 11px 0px;
  background: transparent;
  width: 27vw;
  border: 1px solid white;
  margin: 7vh 5px;
  pointer-events: all;
}
.buttons-main button:hover {
  background-color: #ffffff69;
}
button a {
  text-decoration: none;
  color: white;
  font-family: "Chakra Petch";
  font-size: 1.2rem;
}
.section-title {
  margin: 3vh 0px 5vh 0px;
  /* border-bottom: solid 1px; */
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Chakra Petch";
}
.section {
  /* height: auto; */
  /* height: 85vh; */

  /* padding: 100px 40px 40px 40px; */
  line-height: 24px;
  text-align: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section p {
  margin-bottom: 4vh;
}
.social-links {
  margin-bottom: 4vh;
}

.about {
  background-color: #022139;
}

.about p {
  text-align: justify;
  color: white;
}
.aboutText {
  padding: 2vh 10vw 0vh 10vw;
}
.personalPhoto img {
  width: 100%;
  max-width: 25vh;
  height: auto;
  /* max-width: 40vw;
  max-height: 20vh; */
  border-radius: 50%;
  margin-bottom: 1vh;
}
/* .skillsContainer {
  position: relative;
  left: -12vw;
} */
.skillsList {
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(3, minmax(113px, 1fr));
  grid-auto-rows: 120px;
  list-style: none;
}
.skillsList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.skillsList img {
  width: 10vw;
  margin-bottom: 15px;
}
.skillsList span {
  font-family: "Chakra Petch";
}
.section-title-tools {
  margin-top: 5vh;
  font-family: "Chakra Petch";
  color: white;
}
.projects {
  height: 100%;
  padding: 100px 40px 40px 40px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-card img {
  width: 80%;
  max-width: 50vh;
  padding: 0.5vw;
  background-color: #ffff;
  border-radius: 12px;
}
.project-card {
  text-align: center;
  margin-top: 10vh;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #c459cb,
    0 0 0.8rem #c459cb, 0 0 2.8rem #c459cb, inset 0 0 1.3rem #c459cb;
  padding: 5vh 0px;
  border-radius: 12px;
  background-color: #041933;
}
.cardContainer {
}
.projectTitle {
  margin-top: 3vh;
}
.tagsContainer {
  position: absolute;
  top: 24px;
  left: -13px;
  color: #3d3d3d;
}
.tag {
  margin-bottom: 1vh;
  display: flex;
}
.tag span {
  /* position: absolute; */
  padding: 0.2vh 2vw;
  background-color: white;
  border-radius: 6px;
  font-family: "Chakra Petch";
  font-size: 0.8rem;
  box-shadow: 0px 0px 5px 5px #0000002f;
  color: #460966;
}

.project-card p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 4vh;
}
.demo {
  height: fit-content;
  width: 320px;
  font-size: 30px;
  border: 1px solid rgb(243, 238, 238);
  color: white;
}

.projectInfo {
  bottom: 20px;
  left: 16vw;
}

.btn-visit {
  color: white;
  text-decoration: none;
  border: 1px solid;
  padding: 8px 18px;
  border-radius: 30px;
  font-family: "Chakra Petch";
  font-size: 0.8rem;
  margin: 0px 13px;
}
#cv {
  font-size: 1rem;
  padding: 12px 30px;
}

.social-links {
  text-align: center;
}
.social-links a {
  color: white;
  padding: 18px;
}

@media only screen and (min-width: 660px) {
  /* .skillsContainer {
    position: relative;
    left: -6vw;
  } */
  .skillsList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .skillsList img {
    width: 5vw;
  }
  .skillsList span {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  .skillsList {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
  .section-title-tools {
    margin-top: 10vh;
    font-family: "Chakra Petch";
    color: white;
  }
}

@media only screen and (min-width: 1000px) {
  .main {
    /* width: auto; */
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  /* .logo {
    margin-bottom: 3vh;
  } */
  .neonLogo {
    filter: drop-shadow(10px 10px 200px #c459cb)
      drop-shadow(-10px -10px 50px #c459cb) drop-shadow(0px 0px 10px #c459cb);
    transform: scale(0.5);
    margin: 0;
    animation: flicker 0.5s linear infinite;
    animation-iteration-count: 8, 0, infinite;
    height: 35vh;
    align-self: center;
  }
  /* svg:hover {
    animation: none;
  } */
  /* .buttons-container {
    padding-bottom: 25vh;
  } */
  .buttons-main button {
    padding: 15px;
    background: #17161691;
    width: 9vw;
    margin: 7vh 23px;
  }
  .navbar {
    padding: 0px;
  }
  .navbar-nav {
    display: flex;
    height: 60px;
    /* background: #f7f1f121; */
    background: #703274;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .navbar-nav a {
    text-decoration: none;
    color: white;
    font-family: "Chakra Petch";
    padding: 0px 1vw;
    font-size: 1.2rem;
  }
  .navbar-nav a:hover {
    /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #c459cb,
      0 0 0.8rem #c459cb, 0 0 2.8rem #c459cb, inset 0 0 1.3rem #c459cb; */
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #c459cb,
      0 0 30px #c459cb, 0 0 40px #c459cb, 0 0 55px #c459cb, 0 0 75px #c459cb,
      2px 2px 0px rgba(206, 21, 78, 0), 2px 2px 0px rgba(206, 21, 78, 0);
  }
  .nav-right {
    display: flex;
    margin-left: 45vw;
    align-items: center;
  }
  .nav-left {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  label {
    display: none;
  }
  .menu {
    display: none;
  }
  .modal-menu {
    display: none;
  }
  .name {
    margin: 3vh 8vw 0px 8vw;
  }

  .project-card img {
    max-width: 50%;
  }
  /* .project-card p {
    width: 35vw;
  } */
  .btn-visit {
    padding: 8px 30px;
    font-size: 1rem;
  }
  .btn-visit:hover {
    background-color: #ffffff69;
  }

  /* .section {
    height: 95vh;
  } */

  .section p {
    margin: 6vh 10vw;
    line-height: 4vh;
    font-size: 1.2rem;
  }

  .about img {
    max-width: 35vh;
  }
  .aboutText {
    border-bottom: #c459cb 1px solid;
    width: 70vw;
    display: inline-block;
  }
  /* .skillsContainer {
    display: inline-grid;
    left: -45px;
  } */
  .skillsList {
    grid-template-columns: repeat(6, minmax(110px, 1fr));
    grid-auto-rows: 150px;
    list-style: none;
  }
  .skillsList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .skillsList img {
    width: 3vw;
  }
  .skillsList span {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.8rem;
  }
  .section-title-tools {
    margin: 10vh 0px 3vh 0px;
    font-family: "Chakra Petch";
    color: white;
    font-size: 1.5rem;
  }
  /* .contact h3 {
    margin-top: 9vh;
  } */
}

/* @media only screen and (min-width: 1400px) {
  .section p {
    margin: 6vh 12vw;
  }
  p {
    font-size: 1.3rem;
    line-height: 5vh;
  }
  .project-card {
    margin: 5vh 0vh 5vh 0vh;
  }
  .projects p {
    font-size: initial;
  }
  .tagsContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 47px;
  }
  .tag {
    margin-bottom: 5vh;
    display: flex;
  }

  .tag span {
    padding: 0.3vw 1vw;
    background-color: white;
    border-radius: 6px;
    font-family: "Chakra Petch";
    font-size: 1.5rem;
    box-shadow: 0px 0px 5px 5px #0000002f;
    color: #460966;
  }
  .skillsContainer {
    display: inline-grid;
    left: -50px;
  }

  .skillsList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .skillsList img {
    width: 3vw;
  }
  .skillsList span {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
} */
